body 
{
    height: 40rem;
    background-size: contain;
    background-image: linear-gradient(-90deg, #FFFFFF, black);
    padding: 0rem;
    margin: 0rem;
}

#main-container
{
    max-width: 100rem;
}

.centerDiv
{
    height: 32rem;
    width: 70rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

#container1
{
    height: 32rem;
    width: 24rem;
    margin-top: 0rem;
    margin-bottom: 10rem;
    background-color: white;
    float: left;
}

#gradpic
{
    height: 30rem;
    width: 22.5rem;
    margin-top: 1rem; 
    margin-bottom: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
}

#container2
{
    height: 32rem;
    width: 20rem;
    margin-top: 0rem;
    margin-bottom: -5rem;
    background-color: white;
    float: left;
}

#container2-aboutme
{
    height: 5rem;
    width: 5rem;
    margin-top: 0rem;
    margin-bottom: 10rem;
    font-size: 200%;
}

#container2-resume
{
    height: 5rem;
    width: 5rem;
    margin-top: -10rem;
    margin-bottom: 10rem;
    font-size: 200%;
}

#container2-certificates
{
    height: 5rem;
    width: 5rem;
    margin-top: -10rem;
    margin-bottom: 10rem;
    font-size: 200%;
}

#container2-quotes
{
    height: 5rem;
    width: 5rem;
    margin-top: -10rem;
    margin-bottom: 10rem;
    font-size: 200%;
}

#container2-contactme
{
    height: 5rem;
    width: 5rem;
    margin-top: -10rem;
    margin-bottom: 10rem;
    font-size: 200%;
}

#container2-aboutme.w3-button
{
    width: 200rem;
    height: 6rem;
}

#container2-resume.w3-button
{
    width: 200rem;
    height: 7rem;
}

#container2-certificates.w3-button
{
    width: 200rem;
    height: 6rem;
}

#container2-quotes.w3-button
{
    width: 200rem;
    height: 7rem;
}

#container2-contactme.w3-button
{
    width: 200rem;
    height: 6rem;
}

#container3
{
    height: 32rem;
    width: 26rem;
    margin-top: -42rem;
    margin-bottom: -10rem;
    margin-left: 44rem;
    background-color: white;
    float: left;
    overflow-x: hidden;
    overflow-y: scroll;
}

#resume
{
    height: 30rem;
    width: 26rem;
    margin-bottom: 10rem;
}